

.contacto{

    &__titulo{
        font-size: 3.5rem;
        font-family:'Barlow Condensed', sans-serif ;
        color: indianred;
        display: flex;
        justify-content: right;
        margin-top: 7%;
        margin-left: 3%;
    }

    &__frase{
        font-size: 1.5rem;
        font-family:'Barlow Condensed', sans-serif;
        color: rgb(61, 61, 61);
        margin-bottom: 5%;
        margin-left: 3%;
    }

    &__borde{
        border-style: dotted;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.875rem;
        margin-left: rem;
        margin-top: 2.2rem;
        padding:1.5rem;
    }

    &__nombre{
        padding: 0.5rem ;
        margin: 0.5rem;
    }

    &__apellido{
        padding: 0.5rem ;
        margin: 0.5rem;
    }
    &__textarea{
        padding: 0.8rem;
        margin: 0.5rem;
    }

    &__newsletter{
        padding: 0.5rem ;
        margin: 0.5rem;
    }

    &__enviar-formulario{
        transition: all 2s;
        color: black;
        font-weight: normal;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.2rem;
     
    }
    &__enviar-formulario:hover {
        width: 12.5rem;
    
    }
    &__limpiar-formulario{
        width: 7.8rem; height: 2.188rem;
        transition: all 2s;
        color:black;
        font-weight: normal;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.2rem;
        
     }
     
     &__limpiar-formulario:hover {
         width: 12.5rem;
     }
    
}

form>fieldset>legend {
    color:  #2a9d8f;
    font-size: 2.7rem;
    font-family: 'Barlow Condensed', sans-serif;
}

.linea{
    opacity: 0.30;
    color:indianred;
    background-image: none;
    height: 0.2rem !important;
    margin-left: 10%;
    margin-right: 10%;
}