$color-principal:rgb(61, 61, 61);
$color-secundario:hsl(174, 57%, 33%);
$font-size-peque:1.5rem;
$font-size-cuerpo:2.5rem;
$font-size-titulos: 3.8rem;
$font-type: 'Barlow', sans-serif;
$font-type-cuerpo: 'Barlow Condensed', sans-serif;
