/* barra de navegación para todas las páginas*/

.logo {
    height: 10rem;
    width: 30%;
    height: auto;
    margin-left: 0.1rem;
    
}

.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: auto;

}

.navbar {font-size: 2rem;
    font-weight: normal;
    font-family: 'Barlow Condensed', sans-serif;
    list-style-type: none;
    text-decoration:none;
    margin: 1%;
    /* padding: 1%;
    border-bottom: 1.1rem solid green;
     width: 100%; */

  
}

.sections {
    display: inline-block;
    position: relative;
    width: 10%;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem; 
    border: #e76f51 3px;       
}

.submenu {
    list-style: none;
    position: absolute;
    display: none;
    
}   

.subrayado {
    text-decoration: none;
    font-size: 1.875rem;
    color:rgb(8, 8, 8);
}

.subsection {
    display: block;
}

.navbar .sections:hover .submenu {
    display: block;
    text-decoration:none;
    }

.hero {
    /* background-image: url(../proyecto-html-css/imagenes/pizza-manos.PNG);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
  */
    
    display: grid;
}

hr {
    opacity: 1;
    height: 0.5rem !important; 
    background-color: #e45d2b;
background-image: linear-gradient(97deg, #e45d2b 8%, #F7CE68 47%, #129083 86%);   
}
 /* fin barra de navegación */

 
/* inicio footer para todas las páginas */

.footer {

    font-family: 'Barlow Condensed', sans-serif;
    font-size:0.8rem; 
    color:seashell;
    padding:2rem;
    margin-top:0.7rem;
    background-image: url(../imagenes/estrellas.jpg);

}

.info-footer{
    font-size: 1.8rem;
    font-style: 'Barlow Condensed', sans-serif ;
    margin-left: 60%;
}

.iconos {
    width: 10rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
 
}

/* fin footer */

/* Inicio index */

.frase {
   
    font-size: 3.8rem;
    font-family: 'Barlow', sans-serif;;
    letter-spacing: 0.094rem;
    margin-top: 10%;
    height: auto;
    transition:all 2s ;
    color: rgb(61, 61, 61);
}

.frase:hover {
    font-size: 4rem;
   
}

.subfrase{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.3rem;
    color: darkcyan;
    margin-top: 20%;
    margin-bottom: 20%;

   

}

/* carrusel */

.container-carrusel {
    width: 55%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   margin-bottom: 5%;
}

/* fin carrusel */

/* inicio newsletter */
.newsletter {
     
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem; 
    padding: 3rem;
    color: black;
}
.boton {
    color:#138D75 ;
}
.container{
    margin-top: 5%;
     display: flex;
    flex-direction: column; 
    align-content:center; 

}
/* fin newsletter */

/* fin index */


/* incio servicios */
.servicios{
    font-size: 3.5rem;
    font-family:'Barlow Condensed', sans-serif ;
    color: indianred;
    display: flex;
    justify-content: right;
    margin-top: 7%;
    margin-left: 3%;
}

.frase-servicios{
    font-size: 2rem;
    font-family:'Barlow Condensed', sans-serif;
    color: rgb(61, 61, 61);
    margin-bottom: 5%;
    margin-left: 3%;
    /* border-bottom: 0.4rem rgb(202, 121, 121) solid ;
    width:80% ;
    padding-bottom: 6rem;
    opacity: 0.90; */
}

.linea{
    opacity: 0.30;
    color:indianred;
    background-image: none;
    height: 0.2rem !important;
    margin-left: 10%;
    margin-right: 10%;
}

.padreservicios {
    display: grid;
    grid-template-columns:repeat(4, 0.5fr); 
    grid-column-gap: 4rem;
    justify-content: space-evenly;
    font-size: 2rem;   
    font-family:'Barlow Condensed', sans-serif; 
   
   
}


.hijo {
   justify-self: self-start;
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   
}

.titulo {
   
   color: darkcyan;
   text-align:justify;
   transition: all 2s;
   font-size: 3rem;   
   font-family:'Barlow Condensed', sans-serif; 

}

.titulo:hover {
   font-size: 3rem;
}

.lista {
    list-style: none;
}

.hr2 {
    opacity: 0.5;
    height: 0.5rem;
}
/* fin servicios */
/* 
inicio sección nosotros */
  
.nosotros-primer-parte {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 5%;
    word-spacing: 0.2rem;

}

.titulo-nosotros{
    font-family:'Barlow', sans-serif ;
    font-size: 3rem;
    color: rgb(79, 141, 143); ;
  

}

.frase-nosotros{
    font-family:'Barlow Condensed', sans-serif ;
    font-size: 1.5rem;
    margin-left: 9%;
}

.nosotross {
    font-size: 2rem;
    font-family:'Barlow Condensed', sans-serif ;
    color:black;
    margin:7%;

        
}
.padreequipo {
    display:flex;
    flex-wrap: wrap;
    height: 31.25rem;
    width: 100%;
    margin:0.5rem;
    padding: 1.25rem;
    align-content:space-around;
    justify-content: center;


}

.hijoequipo {
    height:31.25rem;
    width: 31.25rem;
    margin: 0.5rem 1rem 0.3rem 1rem;
    display: block;
       
}


.letra{
    font-size: 1.8rem;
    font-family:'Barlow Condensed', sans-serif ;
    color: black;  

}

.equipo {
    font-size: 3rem;
    margin-left: 40%;
    height: 20vh;
    display: grid;
    grid-template-rows: 1;
    -ms-grid-row-align: stretch;
    color: indianred;
    
  
    
}

.fotoequipo {
    height: 10rem;
    width: 10rem;
  
  
} 


.nosotrosdescrip {
    font-size: 1rem;
    font-family:'Barlow Condensed', sans-serif ;
    color:#229c8e;
} 
/* fin sección nosotros */

/* inicio sección contacto */
.contactoo {
    font-size: 3.5rem;
    font-family:'Barlow Condensed', sans-serif ;
    color: indianred;
    display: flex;
    justify-content: right;
    margin-top: 7%;
    margin-left: 3%;
}

.frase-contacto {
    font-size: 1.5rem;
    font-family:'Barlow Condensed', sans-serif;
    color: rgb(61, 61, 61);
    margin-bottom: 5%;
    margin-left: 3%;
}

.borde {
    border-style: dotted;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.875rem;
    margin-left: rem;
    margin-top: 2.2rem;
    padding:1.5rem;
    
}
   /* inicio formulario */
form>fieldset>legend {
    color:  #2a9d8f;
    font-size: 2.7rem;
    font-family: 'Barlow Condensed', sans-serif;
}

.nombre {
    padding: 0.5rem ;
    margin: 0.5rem;
}
.apellido {
 padding: 0.5rem ;
 margin: 0.5rem;
}
.mail {
    padding: 0.5rem ;
    margin: 0.5rem;
}

.newsletter {
    padding: 0.5rem ;
    margin: 0.5rem;
}

.textarea {
    padding: 0.8rem;
    margin: 0.5rem;
}
.enviar-formulario {
    width: 7.8rem; height: 2.188rem;
   transition: all 2s;
   color: black;
   font-weight: normal;
   font-family: 'Barlow Condensed', sans-serif;
   font-size: 1.2rem;
}

.enviar-formulario:hover {
    width: 12.5rem;

}

.limpiar-formulario {
    width: 7.8rem; height: 2.188rem;
   transition: all 2s;
   color:black;
   font-weight: normal;
   font-family: 'Barlow Condensed', sans-serif;
   font-size: 1.2rem;
   
}

.limpiar-formulario:hover {
    width: 12.5rem;
   
}
/* 
fin formulario */



/* fin seccion contacto */


/* inicio  responsive */
 @media only screen and (max-width: 768px) {
    .padreservicios { 
         display: flex;
        flex-direction: row;
        height: 50% ;
        width: 100%;
        flex-wrap: wrap;
        align-content:center;
        margin:0 auto;
    }
    
    .info-footer{
        display: none;
    }
}


 
  @media only screen and (max-width: 1200px) {
      .hero{
        grid-template-columns: 1fr;
        }
      .frase {
   
        margin-top: 10%;
        
    
        }
    
    .footer {
        grid-template-rows: 2fr;
    }
    

    }
    
    
/* fin responsive */